/*
    CSS para el examen

    colores:

    fondo: #333333;
    fondo: cajas: #424242;
    linea: lightgray;
    boton: #007BFF;
    boton seleccionado: #0056b3;
*/

body {
    background-color: #333333;
    margin: 0 auto;
    width: 90%;
}

.container {
    text-align: center;
}

.youtuber, .footer, .header {
    background-color: #424242;
    border: 1px solid lightgray;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 3px 3px black;
    margin: 10px auto;
    padding: 20px;
    text-align: center;    
}
.footer {
    padding: 0px;
    color: white;
}

.imageHome{
    border:black 4px solid;
    border-radius: 3%;
    height: 450px;
    /* Se utiliza en im치genes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo
    su relaci칩n de aspecto*/
    object-fit: cover; 
}

.youtuber .images {
    border-radius: 90px;

    width: 150px;
    height: 150px;    
    /* Se utiliza en im치genes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo 
    su relaci칩n de aspecto*/
    object-fit: cover; 
}

.youtuber h2 {    
    color: white;
    font-size: 1.5em;
    margin: 10px 0;
}

.youtuber p {
    color: white;
    font-size: 1em;
}

#menu {
    text-align: center;
}

li {
    /* 10- haz que los li no sean de tipo bloque */
    border-left: 4px red solid;
    padding-left: 5px;
    display: inline;
    padding-left: 5px;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: red;
    text-decoration: underline lightgray;
    /* 15- cambia el color al subrayado*/
}


.button {
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    /* animacion en css, para cambiar el color del boton, no visto en clase 
    pero yo te lo regalo ;) */
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #0056b3;
    /* 16- cambia el color al boton*/
}

@media all and (max-width: 700px) {
    .youtuber, .footer {
        border: red 2px solid;
        /* 17- cambia el color al BORDE*/
    }
    .button {
       background-color: red;
    }
    .button:hover {
        background-color: red;
        /* 19- cambia el color al boton*/
    }    
}
