
*{
    margin: 0px auto;
}

body{
     background-color: #6e0d68;
     
}

#img1 {
      margin: 0;
      padding: 0;
      height: auto; 
      width: 100%;
}

#img2, #img3, #img4{
    height: 250px;             
    width: auto;
    border-radius: 15px;           
    margin-bottom: 10px;
}



#imageRight {
  float: right;
  text-align: center;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-left: 30px;
  margin-bottom: 20px; 
  margin-right: 40px;
  margin-top: 40px;
}

#imageLeft{
  float: left;
  text-align: center;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-right: 30px;
  margin-bottom: 20px; 
  margin-left: 40px;
  margin-top: 40px;
}



#menu {
  position: fixed;
  top: 0%;
  width: 100%;

  text-align: center;  
  background-color: #6e0d68;
  border: 1px solid #000000;
  font-family: 'Pacifico', 'cursive';
  font-size: 1.2em;
}


#menu a{
  color: rgb(220, 168, 218);
  text-decoration: none;
}


#menu li{
  display: inline;
  padding-left: 5px;  
}

#menu li a:hover{
  color: rgb(0, 0, 0);
  text-decoration: underline rgb(0, 0, 0);
}


p, h1{
    text-align: justify;
    margin-bottom: 5px;
}


#textoizq {
  align-items: center;
  justify-content: center;

  padding: 20px;
  border: 5px dashed rgb(255, 255, 255);
  background-color: rgb(70, 67, 67);
  height: 300px;
  border-radius: 30px 30px 30px 30px ;   
  margin-left: 20px;
  margin-right: 20px;  
}


#textoder{
  align-items: left;
  justify-content: center;

  padding: 20px;
  border: 5px dashed rgb(255, 255, 255);
  background-color: rgb(70, 67, 67);
  height: 300px;
  border-radius: 30px 30px 30px 30px ;   
  margin-left: 20px;
  margin-right: 20px;
}



@media (max-width: 1200px) {
    #img1 {
    margin: 0;
    padding: 0;
    height: auto;
    }



 
  #imageLeft, #imageRight {
    float: none;
    text-align: center;
    margin: 20px auto;
  }

  #img2, #img3 {
    margin: 0 auto 20px;
    display: block;
  }

 
  #textoizq, #textoder {
    height: auto;            
    margin: 20px;
  }

 
}
