*{
    margin: 0;
}

body{
        background-color: rgb(212, 229, 238);
}

#menu {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60%;
  text-align: center;  
  background-color: #2c2929;
  border: 1px solid #000000;
  font-family: 'Pacifico', 'cursive';
  font-size: 1.6em;
  border-radius: 10px  10px 10px 10px;
  z-index: 3;
  
}

#menu a{
  color: rgb(252, 252, 252);
  text-decoration: none;
}

#menu li{
  display: inline;
  padding-left: 5px;  
}

#menu li a:hover{
  color: rgb(146, 146, 146);
  text-decoration: underline rgb(174, 174, 174);
}


.logo {
    height: 40px;      
    margin-right: 10px; 
    float: left;
    padding: 10px;
}




.contenedor img{  
    display: flex;    
    width: 150px;
    height: auto;
    margin-left: 30px;
    margin-bottom: 20px; 
    margin-right: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center
}


#imagen2{
    height: 150px;             
    width: auto;
    border-radius: 15px;           
    margin-bottom: 10px;
}


#img2, #img3, #img4, #img5, #img6, #img7{
    height: 250px;             
    width: 400px;
    border-radius: 15px;           
    margin-bottom: 10px;
}




.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 20px;
    text-align: center;
    margin-top: 60px;
}

.coche {          
    background-color: #686a70;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 3px rgba(26, 26, 26);
    text-align: center;
    margin-right: 20px;
}

.coche img {
    width: 100%;
    height: 180px;
    margin: 10px;       
    border-radius: 15px;
    margin-bottom: 10px;    
}


.boton {
    padding: 5px;        
}


/*Me lo ha hecho la mayoria chat gpt el responsive*/

@media (max-width: 900px) {


  #menu {
    width: 95%;          
    font-size: 1.2em;    
    padding: 10px 0;
  }

  #menu ul {
    display: flex;
    flex-direction: row;   
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #menu li {
    display: inline-block;
    padding: 5px 10px;
  }

  .logo {
    float: none;
    display: block;
    margin: 0 auto 10px auto;
  }

  
  .contenedor {
    flex-direction: column;   
    align-items: center;
    padding: 10px;
    margin-top: 20px;
  }

  .coche {
    width: 90%;              
    margin: 10px auto;
  }

  .coche img {
    width: 100%;
    height: auto;
  }


  .contenedor img,
  #imagen2,
  #img2, #img3, #img4, #img5, #img6, #img7 {
    width: 90%;             
    height: auto;
    margin: 10px auto;
  }

 
  .boton {
    width: 100%;
    padding: 10px;
  }
}
